<h1>USER</h1>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>
<form method="POST" action="/user">

    <input type="text" name="firstname" placeholder="first name" required="true">
   <p> <input type="text" name="lastname" placeholder="last name" required="true"></p>
    <p><input type="email" name="email" placeholder="email" required="true"></p>
    <p><input type="password" name="password" placeholder="password" required="true"></p>

    <input type="submit" value="Submit">

</form>

</body>
